*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

nav{
    background: #2A7AE4;
    height: 80px;
    width: 100%;
    align-items: center;
    padding: 0 20px;

    
}
.enlace{
    padding: 20px 50px;
    transition: .5s;
}

.logo{
    height: 70px;
}

nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    font-size: 20px;
}

li a:hover, li a.active{
    background: none;
    color: red;
}

nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}


.main-container{
    width: 100%;
    height: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    background: #F5F5F5;
    padding: 50px;
}

.introduction-container{
    width: 100%;
    height: 100%;
    display: flex;
    background: #F5F5F5;
    padding: 50px;
}

.introduction-text{
    font-size: 32px;
    padding: 20px;
    color: #464646;
}

.introduction-img img{
    width: 368px;
    height: 368px;
    left: 768;
    top: 0;
    border-radius: 50%;
}

.about-me{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-radius: 10px;
    background-color: #EAF2FD;
}

.about-me-text{
 /* about me text font */
    font-size: 20px;
    font-weight: 300;
    color: #000000;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about-me-text h2 {
    text-align: left;
}

.title{
    font-size: 32px;
    font-weight: 700;
    line-height: 37,57px;
    color: #000000;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.skills-hobbies-container{
    width: 100%;
    height: 100%;
    padding: 50px;
}

.items-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.skill-hobbie-item{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    margin: 20px;
    font-size: 15px;
}

.skill-hobbie-item img{
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.education-container{
    background-color: #EAF2FD;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
}

.education-item{
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    margin: 20px;
    font-size: 15px;
}

.education-item img{
    width: 140px;
    height: 140px;
    margin-bottom: 20px;
}

.projects{
 flex-direction: column;
}

.projects-container{
    background-color:  #F5F5F5;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.project-item{
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    font-size: 25px;
}

.project-img{
    width: 400px;
    height: 300px;
}

.project-description{
    margin-top: 80px;
    width: 100%;
    height: 100%;
}

.project-description p{
    padding-bottom: 15px;
}

.project-item input{
    margin-bottom: 20px;
    font-size: 22px;
    color: blue;
    padding: 16px;
    border: 3px solid #2A7AE4;
    border-radius: 5px;
}

.project-item input:hover{
    background-color: #2A7AE4;
    color: #ffffff;
    cursor: pointer;
}

.demo {
    background-color: #2A7AE4;
    color: #ffffff !important;
}

.demo:hover {
    background-color: #ffffff !important;
    color: #2A7AE4 !important;
    cursor: pointer;
}

.project-item img{
    width: 100%;
    height: 100%;
}

.contact-form-container{
    background-color: #EAF2FD;
    width: 100%;
    height: 100%;
    padding: 50px;
    border-radius: 10px;
}

.contact-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #EAF2FD;
    margin: 20px;
    font-size: 15px;


}

.contact-form img{
    width: 400px;
    height: 300px;
    margin: 20px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input{
    margin-bottom: 20px;
    font-size: 22px;
    color: blue;
    padding: 16px;
    border: 3px solid #2A7AE4;
    border-radius: 5px;
    cursor: pointer;
}

form textarea{
    margin-bottom: 20px;
    font-size: 22px;
    color: blue;
    padding: 16px;
    border: 3px solid #2A7AE4;
    border-radius: 5px;
}

/* Footer at the bottom and background color*/
footer {
    position: inherit;
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    color: #ffffff;
    background-color: #2A7AE4;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* Footer text */
footer a {
    padding: 20px;
    color: #ffffff;
}

@media (min-width: 768px){
    nav{
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 952px){
    .enlace{
        padding: 5px 50px;
        padding-left: 20px;
        position: absolute;

    }
    nav ul li a{
        font-size: 16px;
    }

    .about-me-text{
        font-size: 16px;
    }

    .about-me-text h2{
        text-align: center;
    }

    .title{
        font-size: 20px;
    }

    .items-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .skill-hobbie-item{
        width: 100px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: #ffffff;
        margin: 20px;
        font-size: 9px;
    }

    .skill-hobbie-item img{
        width: 50px;
        height: 50px;
        margin-bottom: 20px;
    }

    .introduction-container{
        display: flex;
        padding: 0px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .introduction-text h1{
        font-size: 20px;
    }

    .introduction-text p{
        font-size: 15px;
    }

    .introduction-img img{
        width: 100px;
        height: 100px;
    }

    .mobileitems{
        display: flex;
        flex-direction: column;
        padding: 0px;
    }

    .education-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
    
    .education-item{
        width: 200px;
        height: 110px;
        padding: 0px;
        font-size: 10px;
    }
    
    .education-item img{
        width: 70px;
        height: 70px;
        margin-bottom: 0px;
    }

    .projects-container{
        padding: 0px;
    }
    
    .project-item{
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin: 0px;
        font-size: 15px;
    }
    
    .project-img{
        width: 200px;
        height: 100px;
    }
    
    .project-description{
        margin-top: 0px;
    }
    
    .project-description p{
        padding-bottom: 10px;
    }
    
    .project-item input{
        font-size: 15px;
        padding: 7px;
    }

    .contact-form-container{
    padding: 0px;
}

.contact-form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    font-size: 10px;
}

.contact-form img{
    width: 200px;
    height: 150px;
    margin: 0px;
}

form input{
    margin-bottom: 10px;
    font-size: 20px;
    padding: 6px;
}

form textarea{
    margin-bottom: 10px;
    font-size: 20px;
    padding: 10px;
}
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: absolute;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: left;
        transition: all .5s;
        display: grid;
        align-content: center;
        justify-content: center;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left:0;
    }
}